.card-styling {
  max-width: 14rem;
  margin: 1rem;
}

.movie-card-img {
  height: 20rem;
}

.body-sizing {
  height: 20rem;
  padding: .675rem;
}

p {
  max-height: 12rem;
  overflow: scroll;
  text-overflow: ellipsis;
}